CppProperties.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
MaxscriptExtended/.vs/config/applicationhost.config
MaxscriptExtended/.vs/MaxscriptExtended/v15/.suo
MaxscriptExtended/.vs/MaxscriptExtended/v15/Browse.VC.db
MaxscriptExtended/.vs/MaxscriptExtended/v15/ipch/AutoPCH/444260dc7d80c20b/MAXSCRIPTEXTENDED.ipch
MaxscriptExtended/.vs/MaxscriptExtended/v15/ipch/AutoPCH/f59b6f9217057387/DLLENTRY.ipch
MaxscriptExtended/obj/x64/Debug/DllEntry.obj
MaxscriptExtended/obj/x64/Debug/MaxscriptExtended.log
MaxscriptExtended/obj/x64/Debug/MaxscriptExtended.obj
MaxscriptExtended/obj/x64/Debug/MaxscriptExtended.res
MaxscriptExtended/obj/x64/Debug/vc141.pdb
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/CL.21192.write.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/CL.command.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/CL.read.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/link.command.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/link.read.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/MaxscriptExtended.lastbuildstate
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/rc.command.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/rc.read.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/rc.write.1.tlog
MaxscriptExtended/obj/x64/Debug/Maxscrip.6671F0BA.tlog/unsuccessfulbuild
MaxscriptExtended/obj/x64/Release/DllEntry.obj
MaxscriptExtended/obj/x64/Release/MaxscriptExtended.exp
MaxscriptExtended/obj/x64/Release/MaxscriptExtended.lib
MaxscriptExtended/obj/x64/Release/MaxscriptExtended.log
MaxscriptExtended/obj/x64/Release/MaxscriptExtended.obj
MaxscriptExtended/obj/x64/Release/MaxscriptExtended.res
MaxscriptExtended/obj/x64/Release/vc141.pdb
MaxscriptExtended/obj/x64/Release/dll/MaxscriptExtended.gup
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/CL.command.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/CL.read.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/CL.write.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/link.command.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/link.read.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/link.write.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/MaxscriptExtended.lastbuildstate
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/MaxscriptExtended.write.1u.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/rc.command.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/rc.read.1.tlog
MaxscriptExtended/obj/x64/Release/Maxscrip.6671F0BA.tlog/rc.write.1.tlog
MaxscriptExtended/.vs/
MaxscriptExtended/obj/
plugin/.vs/
plugin/obj/
plugin/MXSExt.VC.db
workspace.code-workspace
*.pyc
.vscode/
